%p#notice= notice

%p
  %b Title:
  = @ticket.title
%p
  %b Description:
  = @ticket.description
%p
  %b Priority:
  = @ticket.priority
%p
  %b Customer:
  = @ticket.customer_id
%p
  %b Agent:
  = @ticket.agent_id
%p
  %b Status:
  = @ticket.status

= link_to 'Edit', edit_ticket_path(@ticket)
\|
= link_to 'Back', tickets_path
